<% if @event %>
  <h2><%= @event.title %></h2>
  <p>
    <strong>開始時間:</strong>
    <%= @event.start_time %>
  </p>
  <p>
    <strong>終了時間:</strong>
    <%= @event.end_time %>
  </p>
  <p>
    <strong>終日:</strong>
    <%= @event.all_day? ? "はい" : "いいえ" %>
  </p>
  <%= link_to "編集", edit_event_path(@event) %>
  <%= button_to  "削除", event_path(@event), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }  %>
  <%= link_to "カレンダーに戻る", events_path %>
<% elsif @events %>
  <% @events.each do |event| %>
    <h2><%= event.title %></h2>
    <p>
      <strong>開始時間:</strong>
      <%= event.start_time %>
    </p>
    <p>
      <strong>終了時間:</strong>
      <%= event.end_time %>
    </p>
    <%= link_to "編集", edit_event_path(event) %>
    <%= button_to  "削除", event_path(event), method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }  %>
  <% end %>
  <%= link_to "カレンダーに戻る", events_path %>
<% end %>